﻿<div class="modal fade" id="replyMessageModal" tabindex="-1" role="dialog" aria-labelledby="replyMessageModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Phản hồi liên hệ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtTitle" class="col-form-label">Tiêu đề:</label>
                        <input type="text" class="form-control" id="txtTitle" disabled>
                        <input type="text" id="txtReplyTitle" hidden />
                        <input type="text" id="txtParentId" hidden />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Nội dung phản hồi:</label>
                        <textarea class="form-control" id="txtContent" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button id="btnSave" type="button" class="btn btn-primary">Phản hồi</button>
            </div>
        </div>
    </div>
</div>