﻿@section Scripts {
    <script src="~/app/controllers/message/index.js"></script>
    <script>
        var message = new messageControleler();
        message.initialize();
    </script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Liên hệ từ người dùng</h3>
    </div>

    <div class="title_right">
        <div class="col-md-7 col-sm-12 col-xs-12 form-group pull-right">
            <div class="form-group row">
                <div class="col-sm-8">
                    <select class="form-control" id="dllMessageStatus">
                        <option value="2">Tất cả</option>
                        <option value="1">Đã phản hồi</option>
                        <option value="0">Chưa phản hồi</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="x_panel col-12">
            <div class="x_title">
                <h2>Danh sách tin nhắn</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <ul id="listMessages" class="messages">
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="list-template" type="x-tmpl-mustache">
    <li>
        <img src="images/img.jpg" class="avatar" alt="Avatar">
        <div class="message_date">
            <button class="btn-reply btn btn-info btn-sm" data-id="{{Id}}">Phản hồi <i class="fa fa-edit"></i></button>
            <button class="btn-delete btn btn-danger btn-sm" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </div>
        <div class="message_wrapper">
            <h4 class="heading">{{{Status}}} {{Title}}</h4>
            <blockquote class="message mb-4">
                <p>{{Content}}</p>
            </blockquote>
            <div class="card mt-5" style="margin-top:5px;">
                <div class="card-body">
                    <p class="font-weight-bold">Đăng bởi {{FullName}} vào lúc {{DateCreated}}</p>
                </div>
            </div>
        </div>
    </li>
</script>
@await Html.PartialAsync("_ReplyMessageModal.cshtml")