﻿<div class="py-5">
    <div class="container">
        <form class="row mb-5" method="get" action="/filter-result.html">

            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="rentalTypeId" id="rentalTypeId" class="form-control d-block rounded-0">
                        <option value="">Loại bài đăng</option>
                        @foreach (var rentaltype in Model.RentalTypes)
                        {
                            <option value="@rentaltype.Id">@rentaltype.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="categoryId" id="categoryId" class="form-control d-block rounded-0">
                        <option value="">Loại</option>
                        @foreach (var propertyCategory in Model.PropertyCategories)
                        {
                            <option value="@propertyCategory.Id">@propertyCategory.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="acreageRange" id="acreageRange" class="form-control d-block rounded-0">
                        <option value="">Diện tích</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5+">5+</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="mb-4">
                    <div id="slider-range" class="border-primary"></div>
                    <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="cityId" id="dllCity" class="form-control d-block rounded-0">
                        <option value="">Thành phố/ Tỉnh</option>
                        @foreach (var listCities in Model.ListCities)
                        {
                            <option value="@listCities.Id">@listCities.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="districtId" id="dllDistrict" class="form-control d-block rounded-0">
                        <option value="">Quận Huyện</option>
                        @foreach (var listDistrict in Model.ListDistricts)
                        {
                            <option value="@listDistrict.Id">@listDistrict.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="wardsId" id="dllWards" class="form-control d-block rounded-0">
                        <option value="">Phường xã, Thị trấn</option>
                        @foreach (var listWards in Model.ListWards)
                        {
                            <option value="@listWards.Id">@listWards.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <input type="submit" class="btn btn-primary btn-block form-control-same-height rounded-0" value="Lọc bài viết">
            </div>
        </form>
    </div>
</div>