﻿<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-5">
                    <h3 class="footer-heading mb-5">Easy2GetRoom</h3>
                    <p>Tiểu luận chuyên ngành Công Nghệ Phần Mềm!</p>
                </div>
                <div class="mb-5">
                    <h4 class="footer-heading mb-12">GVHD: Thầy Mai Tuấn Khôi</h4>
                    <h3 class="footer-heading mb-12">GVPB: Thầy Nguyễn Minh Đạo</h3>
                </div>

                <div class="mb-5">
                    <h3 class="footer-heading mb-12">Sinh viên thực hiện:</h3>
                    <p>Đinh Quang Nam 	 	 - 16110392</p>
                    <p>Nguyễn Thị Thanh Thủy - 16110478</p>
                </div>

            </div>

        </div>

    </div>


    </div>
    </div>
</footer>