﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="~/client/fonts/icomoon/style.css">
    @*<link href="~/lib/mdb-pro_4.8.10/css/mdb.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/client/css/jquery-ui.css">
    <link rel="stylesheet" href="~/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/client/css/mediaelementplayer.css">
    <link rel="stylesheet" href="~/client/css/animate.css">
    <link rel="stylesheet" href="~/client/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/client/css/fl-bigmug-line.css">
    <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="~/client/css/aos.css">

    <link rel="stylesheet" href="~/client/css/style.css">

</head>

<body>

    <div class="site-loader"></div>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <!-- .site-mobile-menu -->
        @Html.Partial("_SiteNavHeader.cshtml")
    </div>
    @* Body *@

    @RenderBody()

    @* End body *@

    @* Footer *@
    @* Footer *@

    @await Html.PartialAsync("_Footer.cshtml")

    <script src="~/client/js/jquery-3.3.1.min.js"></script>
    <script src="~/client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/client/js/jquery-ui.js"></script>
    <script src="~/client/js/popper.min.js"></script>
    <script src="~/client/js/bootstrap.min.js"></script>
    <script src="~/client/js/owl.carousel.min.js"></script>
    <script src="~/client/js/mediaelement-and-player.min.js"></script>
    <script src="~/client/js/jquery.stellar.min.js"></script>
    <script src="~/client/js/jquery.countdown.min.js"></script>
    <script src="~/client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/client/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/src/js/bootstrap-datetimepicker.js"></script>
    <script src="~/client/js/aos.js"></script>

    @*<script src="~/lib/mdb-pro_4.8.10/js/mdb.js"></script>*@
    <script src="~/client/js/main.js"></script>
    <script src="/client/js/controllers/home/index.js"></script>
    <script>
        var homeObj = new homeControlelr();
        homeObj.initialize();
    </script>
    <script src="~/client/js/shared/easy2getroom-client.js"></script>
    <script>
        var common = new easy2getroomclient();
        common.initialize();
    </script>

    @RenderSection("Scripts", required: false)

</body>

</html>