﻿<header>
    <div class="site-navbar">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-2">
                    <h1 class="">
                        <a href="/" class="h6 text-uppercase text-black">
                            <strong>
                                Easy2GetRoom<span class="text-danger">.</span><i class="fa fa-home"></i>
                            </strong>
                        </a>
                    </h1>

                </div>
                <div class="col-4 col-md-4 col-lg-10">
                    <nav class="site-navigation text-right text-md-right" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
                            <a href="#"
                               class="site-menu-toggle js-menu-toggle text-black">
                                <span class="icon-menu h3"></span>
                            </a>
                        </div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li>
                                <form class="form-inline md-form form-sm mt-0" method="get" action="/search-result.html">
                                    <div class="input-group-prepend">
                                        <input class="form-control form-control-sm ml-3 w-75" type="text"
                                               placeholder="Tìm kiếm" aria-label="Search" name="Keyword">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                            <li class="has-children">
                                <a><h6>Loại bài đăng</h6></a>
                                <ul class="dropdown">
                                    <li><a href="/all-properties.html"><h6>Tất cả</h6></a></li>
                                    <li><a href="easy2getroom-property-c.2.html"><h6>Căn hộ/ Chung cư</h6></a></li>
                                    <li><a href="easy2getroom-property-c.1.html"><h6>Nhà ở</h6></a></li>
                                    <li><a href="easy2getroom-property-c.3.html"><h6>Phòng trọ</h6></a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="contact.html"><h6>Liên hệ</h6></a><i class="fa fa-phone"></i>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a href="/up-post-property.html"><h6>Đăng bài</h6></a><i class="fa fa-upload"></i>
                                </li>
                                <li class="has-children">
                                    <a href="#"><h6>@User.GetSpecificClaim("FullName")</h6></a>
                                    <ul class="dropdown" role="menu">
                                        <li><a href="/account.html"><h6>Quản lý tài khoản <i class="fa fa-user"></i></h6></a></li>
                                        <li><a href="/manage-post.html"><h6>Quản lý bài viết <i class="fa fa-book"></i></h6></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                        <a href="#" onclick="document.getElementById('logoutForm').submit()"><h6>Đăng xuất  </h6></a>  <i class="fa fa-sign-out"></i>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/login.html"><h6>Đăng bài</h6></a><i class="fa fa-upload"></i>
                                </li>
                                <li><a title="login" href="/login.html"><h6>Đăng nhập</h6></a><i class="fa fa-user"></i></li>
                                <li>
                                    <a title="register" href="/register.html"><h6>Đăng ký</h6></a><i class="fa fa-sign-in"></i>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</header>