﻿@{
    ViewData["Title"] = "Confirm email";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 mb-12">
                <h1 class="mb-2 text-center">Đăng ký tài khoản</h1>
            </div>
            <div class="col-md-12 col-lg-12 mb-12" style="min-height: 700px">
                <div>
                    <p mb-2 text-center>
                        Thank you for confirming your email.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>