﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 mb-12">
                <h1 class="mb-2 text-center">Xác thực Email</h1>
                <p class="text-info col-md-6 col-lg-6 mb-6">
                    Bạn đã xác thực thành công bằng <strong>@ViewData["LoginProvider"]</strong>.
                    Nhập địa chỉ email cho Easy2GetRoom và ấn nút Đăng ký bên dưới để kết thúc
                </p>
            </div>
            <div class="col-md-3 col-lg-3 mb-3">
            </div>
            <div class="col-md-6 col-lg-6 mb-6">
                <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope col-1" style="width:40px;"></i> </span>
                        </div>
                        <input type="email" asp-for="Email" id="email" name="email" col-1" class="form-control" placeholder="Địa chỉ email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope col-1" style="width:40px;"></i> </span>
                        </div>
                        <input type="text" asp-for="FullName" id="fullname" name="fullname" col-1" class="form-control" placeholder="Họ tên">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">
                            <i class="fa fa-sign-in"></i>
                            Đăng ký
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-lg-3 mb-3">
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
