﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@*<div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 mb-12">
                    <h1 class="mb-2 text-center"></h1>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <form asp-action="ForgotPassword" method="post">
                                <div class="p-5 bg-white border">
                                    <div class="row form-group">
                                        <div class="col-md-6 mb-3 mb-md-0">
                                            <div class="check-title">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fa fa-envelope col-1" style="width:40px;"></i> </span>
                                        </div>
                                        <input type="text" asp-for="Email" id="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block btn-lg">
                                            <i class="fa fa-sign-in"></i>
                                            Xác thực
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    @section Scripts {
                        @await Html.PartialAsync("_ValidationScriptsPartial")
                    }
                </div>
            </div>
        </div>
    </div>*@

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3 mb-3">
            </div>
            <div class="col-md-6 col-lg-6 mb-6">
                <h3 class="mb-2 text-center">Nhập địa chỉ Email</h3>
                <form asp-action="ForgotPassword" method="post">
                    <div class="p-5 bg-white border">
                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <div class="check-title">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope col-1" style="width:40px;"></i> </span>
                            </div>
                            <input type="text" asp-for="Email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-sign-in"></i>
                                Xác nhận
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
    </div>
</div>