﻿@using System.Linq
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 mb-12">
                <h1 class="mb-2 text-center">Đăng nhập</h1>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="p-5 bg-white border">
                        <div class="row form-group">
                            <div class="col-md-6 mb-3 mb-md-0">
                                <div class="check-title">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope col-1" style="width:40px;"></i> </span>
                            </div>
                            <input type="text" asp-for="Email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock col-1" style="width:40px;"></i> </span>
                            </div>
                            <input type="password" asp-for="Password" id="password_login" class="form-control"
                                   placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">
                                <i class="fa fa-sign-in"></i>
                                Đăng nhập
                            </button>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-check">
                                <label class="inline" asp-for="RememberMe">
                                    <input type="checkbox" class="form-check-input" asp-for="RememberMe" />
                                    Nhớ đăng nhập
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <h1></h1>
                <div class="mt-3 mb-3">
                    <a asp-action="ForgotPassword"><b>Quên mật khẩu ?</b></a>
                </div>
                <section>
                    <h5>Đăng nhập bằng các dịch vụ khác</h5>
                    <hr />
                    @{
                        var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external
                                    services.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-action="ExternalLogin" asp-route-returnurl="@Model.ReturnURL" method="post"
                                  class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            if (provider.Name.Equals("Google"))
                                            {
                                                <div class="form-group">
                                                    <button id="btnGoogleLogin" type="submit" class="btn btn-danger btn-block btn-lg" value="@provider.Name" name="provider">
                                                        <i class="fal fa-google fa"></i>
                                                        Đăng nhập bằng @provider.Name
                                                    </button>
                                                </div>
                                            }
                                            if (provider.Name.Equals("Facebook"))
                                            {
                                                <div class="form-group">
                                                    <button id="btnFacebookLogin" type="submit" class="btn btn-block btn-lg" style="background: #3b5998; color:white;" value="@provider.Name"
                                                            name="provider">
                                                        <i class="fal fa-facebook fa"></i>
                                                        Đăng nhập bằng @provider.Name
                                                    </button>
                                                </div>
                                            }
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>
            <div class="col-md-6 col-lg-6 mb-12">
                <div class="box-authentication">
                    <h1 class="mb-2 text-center">Đăng ký</h1>
                    <div class="p-5 bg-white border">
                        <div class="form-group text-center">
                            <p>Hãy tiền hành đăng ký tài khoản nếu bạn chưa có !</p>
                            <button onclick="window.location.href='/register.html'"
                                    class="button btn btn-lg btn-primary col-12">
                                <i class="icon-user icons"></i>&nbsp;
                                <span>Đăng ký</span>
                            </button>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <h5>Đăng ký ngay hôm nay để bạn có thể :</h5>
                                <ul cl>
                                    <li>Đăng bài khi cần thiết</li>
                                    <li>Chúng tôi có thể giúp đỡ bạn dễ dàng hơn</li>
                                    <li>Đánh dấu những bài đăng để xem sau</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}