﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 mb-12">
                <h1 class="mb-2 text-center">Đổi mật khẩu</h1>
            </div>
            <div class="col-md-3 col-lg-3 mb-3">
            </div>
            <div class="col-md-6 col-lg-6 mb-6">
                <form method="post">
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="check-title">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope col-1" style="width:40px;"></i> </span>
                        </div>
                        <input type="email" asp-for="Email" id="email" name="email" col-1" class="form-control" placeholder="Địa chỉ email">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock col-1" style="width:40px;"></i> </span>
                        </div>
                        <input type="password" asp-for="Password" id="password" name="password" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock col-1" style="width:40px;"></i> </span>
                        </div>
                        <input type="password" asp-for="ConfirmPassword" id="confirmPassword" name="confirmPassword" class="form-control"
                               placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">
                            <i class="fa fa-sign-in"></i>
                            Đổi mật khẩu
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-lg-3 mb-3">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
