﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="site-section border-top bg-light">
    <div class="container bootstrap snippet mt-10" style="min-height:500px;">
        <header class="masthead d-flex">
            <div class="container text-center my-auto mb-10">
                <h2 class="mb-1" style="margin-top:100px;">Đổi mật khẩu thành cônng ! <i class="fa fa-check-circle text-primary"></i></h2>
                <h3 class="mb-5">
                    <em></em>
                </h3>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/login.html">Đăng nhập<i class="fas sign-in-alt"></i></a>
            </div>
            <div class="overlay"></div>
        </header>
    </div>
</div>

