﻿@using Easy2GetRoom.Models.PropertyViewModels

@model DetailViewModel

@{
    ViewData["Title"] = "Details";

    var category = Model.Property.PropertyCategory;
    var property = Model.Property;
    var propertyImages = Model.Property.PropertyImages;
    var relatedProperties = Model.RelatedProperties;

}

@section Styles {
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/client/js/controllers/detail/index.js"></script>
    <script>
        var detail = new detailController();
        detail.initialize();
    </script>
    <script src="~/client/js/controllers/detail/initmap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEfLTmYpED4HyRSF1KaSyyqZ7m7ZGYxpU&callback=initMap">
    </script>
    <script>
        var map = new initMap();
        map.initialize();
    </script>

}
<div class="site-blocks-cover overlay" style="background-image: url(/uploaded/backgrounds/hochiminh-city.jpg);" data-aos="fade"
     data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
                <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Trang chi tiết</span>
                <h1 class="mb-2">@property.Title</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="margin-top: -150px;">
                <div class="mb-5">
                    <div class="slide-one-item home-slider owl-carousel">
                        @if (Model.PropertyImages.Count() != 0)
                        {
                            @foreach (var image in Model.PropertyImages)
                            {
                                <div><img style="max-height:730px;" src="@image.Url"></div>
                            }
                        }
                        else
                        {
                            <div><img style="max-height:730px;" src="~/client/images/img_1.jpg"></div>
                            <div><img style="max-height:730px;" src="~/client/images/img_2.jpg"></div>
                        }

                    </div>
                </div>
                <div class="bg-white">
                    <div class="row mb-5">
                        @if (property.Price == 0)
                        {
                            <div class="col-md-6">
                                <strong class="text-success h3 mb-3">@property.PriceFrom.ToString("N0") đến @property.PriceTo.ToString("N0") VNĐ</strong>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-6">
                                <strong class="text-success h3 mb-3">@property.Price.ToString("N0") VNĐ</strong>
                            </div>
                        }
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                            <span class="d-inline-block text-black mb-0 caption-text">Loại </span>
                            <strong class="d-block">@property.PropertyCategory.Name</strong>
                        </div>
                        <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                            <span class="d-inline-block text-black mb-0 caption-text">Được đăng bởi</span>
                            <strong class="d-block">@property.User.FullName</strong>
                        </div>
                        <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                            <span class="d-inline-block text-black mb-0 caption-text">Vào lúc</span>
                            <strong class="d-block">@property.DateCreated</strong>
                        </div>
                        <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                            <span class="d-inline-block text-black mb-0 caption-text">Số điện thoại</span>
                            <strong class="d-block">@property.User.PhoneNumber.</strong>
                        </div>
                    </div>
                    <input id="txtLat" hidden value="@property.Lat" />
                    <input id="txtLng" hidden value="@property.Lng" />
                    <h2 class="h4 text-black">Mô tả chi tiết</h2>
                    <textarea id="txtDescriptionTemp" style="display:none;" hidden>@property.Description</textarea>
                    <p id="txtDescription">
                        @property.Description
                    </p>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h2 class="h4 text-black mb-3">Hình ảnh chi tiết</h2>
                        </div>
                        @foreach (var image in Model.PropertyImages)
                        {
                            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                <a href="@image.Url" class="image-popup gal-item">
                                    <img src="@image.Url" alt="Image"
                                         class="img-fluid">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pl-md-2">

                <div class="bg-white widget border rounded">

                </div>
                <div class="form-group">
                    <h3>Vị trí</h3>
                </div>
                <div class="bg-white border rounded">
                    <div id="map" style="height:350px;"></div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="site-section site-section-sm bg-light">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="site-section-title mb-5">
                    <h2>Bài đăng liên quan</h2>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            @foreach (var item in relatedProperties)
            {
                var url = "/easy2getroom-property-p." + item.Id + ".html";
                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="@url" class="prop-entry d-block">
                        <figure>
                            @if (item.PropertyImages.Count() != 0)
                            {
                                <img style="max-height:350px;
                                            width: 100%;"
                                     src="@item.PropertyImages[0].Url" alt="@item.Name" class="img-fluid">
                            }
                            else
                            {
                                <img src="~/client/images/img_1.jpg" alt="@item.Name" class="img-fluid">
                            }
                        </figure>
                        <div class="prop-text">
                            <div class="inner">
                                <span class="price rounded">@item.Price.ToString("N0") VNĐ</span>
                                <h3 class="title">@item.Title</h3>
                                <p class="location">@item.Address</p>
                            </div>
                            <div class="prop-more-info">
                                <div class="inner d-flex">
                                    <div class="col">
                                        <span>Diện tích:</span>
                                        <strong>@item.Acreage<sup>2</sup></strong>
                                    </div>
                                    <div class="col">
                                        <span>Loại:</span>
                                        <strong>@item.RentalType.Name</strong>
                                    </div>
                                    <div class="col">
                                        <span>Đăng bởi:</span>
                                        <strong>@item.User.FullName</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>