﻿@using Easy2GetRoom.Models.PropertyViewModels
@model CatalogViewModel
@{
    ViewData["Title"] = "Lọc bài viết | Easy2GetRoom";
}
@(await Component.InvokeAsync("Slide"))
@(await Component.InvokeAsync("FilterProperty"))
<div class="site-section site-section-sm bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <div class="site-section-title">
                    <h2>Kết quả lọc bài viết</h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            @foreach (var item in Model.Data.Results)
            {
                var url = "/easy2getroom-property-p." + item.Id + ".html";
                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="@url" class="prop-entry d-block">
                        <figure>
                            @if (item.PropertyImages.Count() != 0)
                            {
                                <img style="max-height:350px;
                                            width: 100%;"
                                     src="@item.PropertyImages[0].Url" alt="@item.Name" class="img-fluid">
                            }
                            else
                            {
                                <img src="~/client/images/img_1.jpg" alt="@item.Name" class="img-fluid">
                            }
                        </figure>
                        <div class="prop-text">
                            <div class="inner">
                                <span class="price rounded">@item.Price.ToString("N0") VNĐ</span>
                                <h3 class="title">@item.Title</h3>
                                <p class="location">@item.Address</p>
                            </div>
                            <div class="prop-more-info">
                                <div class="inner d-flex">
                                    <div class="col">
                                        <span>Diện tích:</span>
                                        <strong>@item.Acreage<sup>2</sup></strong>
                                    </div>
                                    <div class="col">
                                        <span>Loại:</span>
                                        <strong>@item.RentalType.Name</strong>
                                    </div>
                                    <div class="col">
                                        <span>Đăng bởi:</span>
                                        <strong>@item.User.FullName</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        @(await Component.InvokeAsync("Pager", Model.Data));
    </div>
</div>
