﻿@model PagedResultBase
@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

<div class="row">
    <div class="col-md-12 text-center">
        <div class="site-pagination">
            @if (Model.PageCount > 1)
            {
                @*@if (Model.CurrentPage == startIndex)
                {
                    <a href="#" class="active"><i class="fa fa-angle-left"></i></a>
                }
                else
                {
                    <a href="@urlTemplate.Replace("0", Model.PageCount.ToString())"><i class="fa fa-angle-left"></a>
                }*@
                @for (var i = startIndex; i <= finishIndex; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <a href="#" class="active">@i</a>
                    }
                    else
                    {
                        <a href="@urlTemplate.Replace("{0}", i.ToString())">@i</a>
                    }
                }
                @*@if (Model.CurrentPage == finishIndex)
                {
                    <a href="#"><i class="fa fa-angle-right"></i></a>
                }
                else
                {
                    <a href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())"><i class="fa fa-angle-right"></i></a>
                }*@
            }
        </div>
    </div>
</div>