﻿@using Easy2GetRoom.Application.ViewModels
@model List<PropertyViewModel>

    <div class="slide-one-item home-slider owl-carousel">
        @foreach (var item in Model)
        {
            var url = "/easy2getroom-property-p." + item.Id + ".html";
            @if (item.PropertyImages.Count() != 0)
            {
                <div class="site-blocks-cover" style="background-image: url(@item.PropertyImages.First().Url);"
                     data-aos="fade" data-stellar-background-ratio="0.5">

                    <div class="text">
                        <h2>@item.Title</h2>
                        <p class="location"><span class="property-icon icon-room"></span>@item.Address</p>
                        <p class="mb-2"><strong>$2,250,500</strong></p>


                        <p class="mb-0"><a href="@url" class="text-uppercase small letter-spacing-1 font-weight-bold">More Details</a></p>

                    </div>
                </div>
            }
            else
            {
                <div class="site-blocks-cover" style="background-image: url(/uploaded/backgrounds/hochiminh-city.jpg);"
                     data-aos="fade" data-stellar-background-ratio="0.5">

                    <div class="text">
                        <h2>@item.Title</h2>
                        <p class="location"><span class="property-icon icon-room"></span>@item.Address</p>
                        <p class="mb-2"><strong>$2,250,500</strong></p>


                        <p class="mb-0"><a href="@url" class="text-uppercase small letter-spacing-1 font-weight-bold">More Details</a></p>

                    </div>
                </div>
            }
        }

    </div>