﻿
@{
    ViewData["Title"] = "Index";
}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(images/hero_bg_2.jpg);"
     data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
                <h1 class="mb-2">Đăng tin</h1>
                <div>
                    <a href="index.html">Trang chủ</a> <span class="mx-2 text-white">&bullet;</span> <strong class="text-white">Đăng tin</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 mb-12">
                <h1 class="mb-2 text-center">Chọn mục đăng tin</h1>
            </div>

            <div class="col-md-12 col-lg-12 mb-12">
                <div class=" col-md-1 col-lg-1 col-sm-1">
                    <button class="btn btn-info btn-sm"><i class="fa fa-next"></i></button>
                </div>

                <div class="progress col-md-10 col-lg-10 col-sm-10">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width:40%">
                        40%
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 mb-12">



                <form action="#" class="p-5 bg-white border">

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <button type="button" class="btn btn-info col-lg-12 btn-lg"><b>Căn hộ/ Chung cư</b></button>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <button type="button" class="btn btn-info col-lg-12 btn-lg"><b>Nhà ở</b></button>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <button type="button" class="btn btn-info col-lg-12 btn-lg"><b>Phòng trọ</b></button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>