﻿<div id="userConfigModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="userConfigModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Thêm/Chỉnh sửa user</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <input id="hidId" hidden />
                        <div class="form-group">
                            <label for="txtFullName" class="col-sm-2 control-label">Họ và Tên:</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtFullName" class="form-control" id="txtFullName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-2 control-label ">Email</label>
                            <div class="col-sm-10">
                                <input type="email" name="txtEmail" class="form-control" id="txtEmail" maxlength="50" disabled readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtPhoneNumber" class="col-sm-2 control-label">Điện thoại:</label>
                            <div class="col-sm-10">
                                <input type="text" name="txtPhoneNumber" class="form-control" id="txtPhoneNumber" maxlength="25">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Là admin:</label>
                            <div class="col-sm-10" id="ckAdmin">

                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="button" id="btnSave" class="btn btn-success ">Lưu</button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-default ">Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>