﻿@section Styles {
    <link href="~/admin/css/user/style.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/app/controllers/users/index.js"></script>
    <script>
        var user = new userController();
        user.initialize();
    </script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Quản lý Người dùng<small></small></h3>
    </div>

    <div class="title_right">
        <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Gõ từ khóa...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Tìm!</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-sm-12  form-group pull-right">
            <select class="form-control" id="ddlCategorySearch">
                <option>Chọn loại</option>
            </select>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center" width="5%">STT</th>
                                <th class="text-left">Tên</th>
                                <th class="text-center">Ngày tạo</th>
                                <th class="text-center">Quyền</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center" width="10%"></th>
                            </tr>
                        </thead>
                        <tbody id="tblContent">
                        </tbody>
                    </table>
                </div>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <th scope="row">{{STT}}</th>
        <th>{{FullName}}</th> 
        <th>{{DateCreated}}</th>
        <th>{{{Role}}}</th>
        <th class="text-center">{{{Status}}}</th>
        <th class="text-center">
            <button class="btn btn-sm btn-info btn-config" data-id="{{Id}}" title="Cài đặt"><i class="fa fa-wrench"></i></i></button>
            <button class="btn btn-sm btn-danger btn-delete" data-id="{{Id}}" title="Xóa"><i class="fa fa-trash"></i></button>
        </th>
    </tr>
</script>

@await Html.PartialAsync("_ConfigUserModal.cshtml");