﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<FunctionViewModel>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            @foreach (var item in Model.Where(x => x.ParentId == CommonConstFunctionId.DontHaveParent))
            {
                <li>
                    @if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <a>
                            <i class="fa @item.IconCss"></i> @item.Name
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li><a href="@jitem.URL">@jitem.Name</a></li>
                            }
                        </ul>
                    }
                    else
                    {
                        <a href="@item.URL">
                            <i class="fa @item.IconCss"></i> @item.Name
                        </a>
                    }
                </li>
            }
        </ul>
    </div>
</div>