﻿@section Scripts {
    <script src="~/app/controllers/place/index.js"></script>
    <script src="~/app/controllers/district/index.js"></script>
    <script src="~/app/controllers/wards/index.js"></script>
    <script>
        var place = new placeController();
        place.initialize();

        var district = new districtController();
        district.initialize();

        var wards = new wardsController();
        wards.initialize();
    </script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Manage Post<small>Quản lý vị trí</small></h3>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class=" panel-default table-responsive">
                        <div class="col-md-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <ul class="list-group">
                                    <li class="list-group-item active">Tên thành phố</li>
                                </ul>
                                <ul class="list-group" id="tblContentcity">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <ul class="list-group">
                                    <li class="list-group-item active">Tên quận huyện</li>
                                </ul>
                                <ul class="list-group" id="tblContentDistrict">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="list-group" id="list-tab" role="tablist">
                                <ul class="list-group">
                                    <li class="list-group-item active">Tên xã, thị trấn</li>
                                </ul>
                                <ul class="list-group" id="tblContentWard">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template-city" type="x-tmpl-mustache">
    <li class="list-group-item"><a class="btn-city" data-id="{{Id}}">{{Name}}</a></li>
</script>
<script id="table-template-district" type="x-tmpl-mustache">
    <li class="list-group-item"><a class="btn-district" data-id="{{Id}}">{{Name}}</a></li>
</script>
<script id="table-template-ward" type="x-tmpl-mustache">
    <li class="list-group-item"><a class="btn-ward" data-id="{{Id}}">{{Name}}</a></li>
</script>

