﻿<div id="detail-modal" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Chi tiết bài đăng</h4>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <h3 class="modal-title">Trạng thái<p id="lblStatus"></p></pa></h3>
                        <input type="hidden" class="form-control" id="hidIdM" name="hidIdM">
                        <div class="form-group row">
                            <label for="txtName" class="col-sm-2 col-form-label">Tên</label>
                            <div class="col-sm-4">
                                <p id="lblName" class="col-form-label"></p>
                            </div>
                            <label for="lblCategory" class="col-sm-2 col-form-label">Loại</label>
                            <div class="col-sm-4">
                                <p id="lblCategory" class="col-form-label"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lblPrice" class="col-sm-2 col-form-label">Giá (VNĐ) </label>
                            <div class="col-sm-4">
                                <b><p id="lblPrice" class="col-form-label text-danger"></p></b>
                            </div>
                            <label for="lblAcreage" class="col-sm-2 col-form-label">Diện tích (m<sup>2</sup>)</label>
                            <div class="col-sm-4">
                                <b><p id="lblAcreage" class="col-form-label text-danger"></p></b>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lblRentalType" class="col-sm-2 col-form-label">Kiểu</label>
                            <div class="col-sm-4">
                                <p id="lblRentalType" class="col-form-label"></p>
                            </div>
                            <label for="lblCity" class="col-sm-2 col-form-label">Tỉnh/Thành phố</label>
                            <div class="col-sm-4">
                                <p id="lblCity" class="col-form-label"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lblDistrict" class="col-sm-2 col-form-label">Quận/Huyện</label>
                            <div class="col-sm-4">
                                <p id="lblDistrict" class="col-form-label"></p>
                            </div>
                            <label for="lblWards" class="col-sm-2 col-form-label">Phường/Xã</label>
                            <div class="col-sm-4">
                                <p id="lblWards" class="col-form-label"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lblTitle" class="col-sm-2 col-form-label">Tiêu đề</label>
                            <div class="col-sm-10">
                                <p id="lblTitle" class="col-form-label"></p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lblDescription" class="col-sm-2 col-form-label">Mô tả chi tiết</label>
                            <div class="col-sm-10">
                                <p id="lblDescription" class="col-form-label"></p>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="lblDateCreated" class="col-sm-2 col-form-label">Ngày đăng</label>
                            <div class="col-sm-4">
                                <label id="lblDateCreated" class="col-form-label"></label>
                            </div>
                            <label for="lblDateModified" class="col-sm-2 col-form-label">Ngày cập nhật</label>
                            <div class="col-sm-4">
                                <label id="lblDateModified" class="col-form-label"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-11">
                                <button type="button" id="btnDefault" class="btn"></button>
                                <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Đóng</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>