﻿@model FilterViewModel

<div class="py-3">
    <div class="container">
        <form class="row" method="get" action="/filter-result.html">

            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="rentalTypeId" id="rentalTypeId" class="form-control d-block rounded-0">
                        <option value="">Loại bài đăng</option>
                        @foreach (var rentaltype in Model.RentalTypes)
                        {
                            <option value="@rentaltype.Id">@rentaltype.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="categoryId" id="categoryId" class="form-control d-block rounded-0">
                        <option value="">Loại</option>
                        @foreach (var propertyCategory in Model.PropertyCategories)
                        {
                            <option value="@propertyCategory.Id">@propertyCategory.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="acreageRange" id="acreageRange" class="form-control d-block rounded-0">
                        <option value="">Diện tích</option>
                        <option value="1">0 đến 30 m<sup>2</sup></option>
                        <option value="2">30 đến 80 m<sup>2</sup></option>
                        <option value="3">80 đến 150 m<sup>2</sup></option>
                        <option value="4">150 đến 300 m<sup>2</sup></option>
                        <option value="5">300+ m<sup>2</sup></option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="priceRange" id="priceRange" class="form-control d-block rounded-0">
                        <option value="">Khoảng giá</option>
                        <option value="1">0 đến 3 triệu</option>
                        <option value="2">3 đến 5 triệu</sup></option>
                        <option value="3">5 đến 10 triệu</option>
                        <option value="4">10 đến 20 triệu</option>
                        <option value="5">Hơn 20 triệu</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="cityId" id="dllCity" class="form-control d-block rounded-0">
                        <option value="">Thành phố/ Tỉnh</option>
                        @foreach (var listCities in Model.ListCities)
                        {
                            <option value="@listCities.Id">@listCities.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="districtId" id="dllDistrict" class="form-control d-block rounded-0">
                        <option value="">Quận Huyện</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <div class="select-wrap">
                    <span class="icon icon-arrow_drop_down"></span>
                    <select name="wardsId" id="dllWards" class="form-control d-block rounded-0">
                        <option value="">Phường xã, Thị trấn</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                <input type="submit" class="btn btn-primary btn-block form-control-same-height rounded-0" value="Lọc bài viết">
            </div>
        </form>
    </div>
</div>