﻿<div id="modal-add-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Tin tức</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmMaintainance">
                        <div class="form-group">
                            <input type="hidden" id="hidIdM" value="0" />
                            <label for="txtTitle" class="control-label no-padding-right">Tiêu dề</label>
                            <div class="col-sm-12">
                                <input type="text" name="txtTitle" class="form-control" id="txtTitle" placeholder="Tiêu đề bài viết">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtContent" class="control-label no-padding-right">Nội dung</label>
                            <div class="col-sm-12">
                                <textarea rows="20" name="txtContent" class="form-control" id="txtContent"></textarea>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" id="btnSave" class="btn btn-primary">Đăng bài viết</button>
            </div>
        </div>
    </div>
</div>