﻿@section Scripts {
    <script src="~/app/controllers/news/index.js">
    </script>

    <script>
        var news = new newsController();
        news.initialize();
    </script>
}
<div class="page-title">
    <div class="title_left">
        <h3>Danh sách tin tức</h3>
    </div>

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Gõ từ khóa...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Tìm!</button>
                </span>
            </div>
        </div>
        <div class="col-md-4 col-sm-12  form-group pull-right">
            <button id="btnCreate" class="btn btn-success">Tạo tin tức</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="x_panel col-12">
            <div class="x_title">
                <h2>Danh sách bài viết</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div>
                        <ul id="listNews" class="messages">
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="list-template" type="x-tmpl-mustache">
    <li>
        <img src="images/img.jpg" class="avatar" alt="Avatar">
        <div class="message_date">
            <button class="btn-edit btn btn-warning btn-sm" data-id="{{Id}}"><i class="fa fa-edit"></i></button>
            <button class="btn-delete btn btn-danger btn-sm" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </div>
        <div class="message_wrapper">
            <h4 class="heading">{{Title}}</h4>
            <blockquote class="message"><p>Đăng bởi {{FullName}} vào lúc {{DateCreated}}</p></blockquote>
            <br />
            <p class="url">
                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                <a href="#"><i class="fa fa-paperclip"></i>Xem chi tiết</a>
            </p>
        </div>
    </li>
</script>
@await Html.PartialAsync("_AddEditModal.cshtml")