﻿<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Mật khẩu mới:</label>
                        <input type="text" class="form-control" id="txtNewPassword">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Nhập lại mật khẩu:</label>
                        <input type="text" class="form-control" id="txtConfirmNewPassword">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Đổi mật khẩu</button>
            </div>
        </div>
    </div>
</div>