﻿
@{
    ViewData["Title"] = "Tài khoản";
}

@using Easy2GetRoom.Application.ViewModels
@model UserViewModel

@section Scripts {
    <script src="~/client/js/controllers/account/index.js"></script>
    <script>
        var account = new accountController();
        account.initialize();
    </script>
}

<div class="site-section border-top bg-light">
    <div class="container bootstrap snippet">
        <div class="row mb-4">
            <div class="col-sm-10"><h2>@Model.FullName</h2></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <div class="text-center">
                    @if (Model.Avatar == null)
                    {
                        <img id="imgAvatar" src="~/uploaded/avatar/default.png" class="avatar img-circle img-thumbnail" alt="avatar" style="height:190px; width:190px">
                    }
                    else
                    {
                        <img id="imgAvatar" src="@Model.Avatar" class="avatar img-circle img-thumbnail" alt="avatar" style="height:190px; width:190px">
                    }
                    <button id="btnChangeAvatar" class="btn btn-success mt-2">Đổi ảnh đại diện</button>
                    <input id="avatar" type="file" class="text-center center-block file-upload" hidden>
                </div><br>
            </div>
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Thông tin cá nhân</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <div class="form-group col-xs-12">
                            <div class="col-xs-6">
                                <label for="full_name"><h5>Họ và tên</h5></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="full_name" id="txtFullName" value="@Model.FullName" placeholder="Họ và tên" title="Họ và tên" disabled required>
                                    <div class="input-group-prepend">
                                        <button id="btnEditFullName" class="btn btn-info" title="Sửa họ và tên"><i class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    <label for="phone"><h5>Số điện thoại</h5></label>
                                    <div class="input-group">
                                        @if (Model.PhoneNumber != null)
                                        {
                                            <input type="text" class="form-control" name="phone" id="txtPhoneNumber" value="@Model.PhoneNumber" placeholder="Nhập số điện thoại" title="Số điện thoại" disabled>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" name="phone" id="txtPhoneNumber" placeholder="Nhập số điện thoại" title="Số điện thoại" disabled>
                                        }
                                        <div class="input-group-prepend">
                                            <button id="btnEditPhoneNumber" class="btn btn-info" title="Sửa số điện thoại"><i class="fa fa-edit"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email"><h5>Email</h5></label>
                                <input type="email" class="form-control" name="email" id="txtEmail" value="@Model.Email" placeholder="@Model.Email" title="Địa chỉ email" disabled required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button id="btnSaveChange" class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Lưu</button>
                            </div>
                        </div>
                        <hr>
                    </div><!--/tab-pane-->
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-3-->


    </div><!--/col-9-->
</div><!--/row-->
</div>

@await Html.PartialAsync("_ChangePasswordModal.cshtml");
@await Html.PartialAsync("_NotifyModal.cshtml");