﻿
@section Scripts {
    <script src="~/client/js/controllers/contact/index.js"></script>
    <script>
        var contact = new contactController();
        contact.initialize();
    </script>
}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/uploaded/backgrounds/hochiminh-city.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
                <h1 class="mb-2">Liên hệ với chúng tôi</h1>
                <div><a href="/">Trang chủ</a> <span class="mx-2 text-white">&bullet;</span> <strong class="text-white">Liên hệ</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 mb-5">
                <div class="p-5 bg-white border">
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Họ tên</label>
                                <input type="text" id="txtFullName" class="form-control" disabled value="@User.GetSpecificClaim("FullName")">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="email">Địa chỉ Email</label>
                                <input type="email" id="txtEmail" class="form-control" disabled value="@User.GetSpecificClaim("Email")">
                            </div>
                        </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="email">Vấn đề bạn cần giải đáp</label>
                            <input type="text" id="txtTitle" class="form-control" placeholder="Nội dung vắn tắt">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="font-weight-bold" for="message">Mô tả chi tiết</label>
                            <textarea name="message" id="txtContent" cols="30" rows="5" class="form-control" placeholder="Say hello to us"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <button id="btnSend" class="btn btn-primary btn-lg">Gửi cho chúng tôi <i class="fa fa-paper-plane "></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="p-4 mb-3 bg-white">
                    <h3 class="h6 text-black mb-3 text-uppercase">Thông tin liên hệ</h3>
                    <p class="mb-0 font-weight-bold">01 Võ Văn Ngân</p>
                    <p class="mb-4">Phường Linh Chiểu, Quận Thủ Đức, Thành Phố Hồ Chí Minh</p>

                    <p class="mb-0 font-weight-bold">Điện thoại</p>
                    <p class="mb-4"><a href="tel:+84 862 11 88">+84 862 11 88</a></p>

                    <p class="mb-0 font-weight-bold">Email</p>
                    <p class="mb-0"><a href="#">quangnam@easy2getroom.com</a></p>

                </div>

            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_NotifyModal.cshtml");