﻿@model HomeViewModel
@{
    ViewData["Title"] = "Trang chủ";
}

@(await Component.InvokeAsync("Slide"));

@(await Component.InvokeAsync("FilterProperty"))
<div class="site-section site-section-sm bg-light">
    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <div class="site-section-title">
                    <h3>Các bài đăng mới cho bạn</h3>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            @foreach (var item in Model.LastestProperty)
            {
                var url = "/easy2getroom-property-p." + item.Id + ".html";
                <div class="col-md-6 col-lg-4 mb-4">
                    <a href="@url" class="prop-entry d-block">
                        <figure>
                            @if (item.PropertyImages.Count() != 0)
                            {
                                <img style="max-height:500px;
                                            max-width:500px;
                                            width: 100%;"
                                     src="@item.PropertyImages.First().Url" alt="@item.Name" class="img-fluid">
                            }
                            else
                            {
                                <img  src="~/client/images/img_1.jpg" alt="@item.Name" class="img-fluid">
                            }
                        </figure>
                        <div class="prop-text">
                            <div class="inner">
                                <span class="price rounded">@item.Price.ToString("N0") VNĐ</span>
                                <h3 class="title">@item.Title</h3>
                                <p class="location">@item.Address</p>
                            </div>
                            <div class="prop-more-info">
                                <div class="inner d-flex">
                                    <div class="col">
                                        <span>Diện tích:</span>
                                        <strong>@item.Acreage<sup>2</sup></strong>
                                    </div>
                                    <div class="col">
                                        <span>Loại:</span>
                                        <strong>@item.RentalType.Name</strong>
                                    </div>
                                    <div class="col">

                                        @if (item.User != null)
                                        {
                                            <span>Đăng bởi:</span>
                                            <strong>@item.User.FullName</strong>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
<div class="site-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <div class="site-section-title">
                    <h3 class="text-white"><i class="fa fa-bookmark"></i>Tin tức mới <i class="fa fa-bookmark"></i></h3>
                    <a href="/news.html"><h5 class="text-white">Xem thêm...</h5></a>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.LastestNews)
            {
                var url = "/easy2getroom-news-n." + item.Id + ".html";
                <div class="col-md-6 col-lg-4 mb-2 bg-light" data-aos="fade-up" data-aos-delay="200">
                    <a href="#"><img src="~/uploaded/logo/news.jpg" alt="Image" class="img-fluid bg-light" ></a>
                    <div class="bg-white">
                        <span class="d-block text-secondary small text-uppercase">@item.DateCreated.ToShortDateString()</span>
                        <h2 class="h5 text-black mb-3"><a href="@url">@item.Title</a></h2>
                        <p>Đăng bởi: @item.User.FullName</p><a href="@url">Xem chi tiết</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>