@using Microsoft.AspNetCore.Identity
@using Easy2GetRoom.Extensions

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="~/admin/images/img.jpg" alt="">@User.GetSpecificClaim("FullName")
    <span class=" fa fa-angle-down"></span>
</a>

<ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;"> Profile</a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Settings</span>
        </a>
    </li>
    <li><a href="javascrip  t:;">Help</a></li>
    
        <li><form action="/Admin/Account/Logout" method="post" id="logoutForm"><button type="submit" class="btn btn-link navbar-link">Log out <i class="fa fa-sign-out pull-right"></i></button>    </form></li>

</ul>
