﻿@using Easy2GetRoom.Models.NewsViewModels
@{
    ViewData["Title"] = "Tin tức";
}
@model ListNewsViewModel
<div class="site-section site-section-sm bg-light">
    <div class="container">

        <div class="row mb-5">
            @foreach (var item in Model.Data.Results)
            {
                var url = "/easy2getroom-news-n." + item.Id + ".html";
                <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="200">
                    <a href="#"><img src="~/uploaded/logo/news.jpg" alt="Image" class="img-fluid"></a>
                    <div class="p-4 bg-white">
                        <span class="d-block text-secondary small text-uppercase">@item.DateCreated.ToString()</span>
                        <h2 class="h5 text-black mb-3"><a href="@url">@item.Title</a></h2>
                        <p>Đăng bởi: @item.User.FullName</p><a href="@url">Xem chi tiết</a>
                    </div>
                </div>
            }

        </div>
        @(await Component.InvokeAsync("Pager", Model.Data))
    </div>
</div>
