﻿@using Easy2GetRoom.Models.NewsViewModels
@model DetailViewModel
@{
    ViewData["Title"] = Model.News.Title;
}

@section Styles {
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/client/js/controllers/newsdetail/index.js"></script>
    <script>
        var newsDetail = new newsDetailController();
        newsDetail.initialize();
    </script>
}

<div class="site-section border-top bg-light">
    <div class="container">
        <div class="row mb-5" data-aos="fade-up">
            <div class="col-md-12">
                <div class="site-section-title text-left">
                    <h2>Bài viết: @Model.News.Title</h2>
                </div>
                <div class="site-section-title text-left">
                    <h5>Đăng bởi: @Model.News.User.FullName</h5>
                    <p>Ngày đăng: @Model.News.DateCreated.ToShortDateString()</p>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-md-8 col-lg-8 col-sm-12 mb-5 mb-lg-5 border-right border-primary" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">

                        <div class="border-top border-primary mb-5 mb-lg-5">

                            <h2 class="mb-2 font-weight-light text-black mt-3">Nội dung</h2>
                            <textarea id="txtContentTemp" style="display:none;" hidden>@Model.News.Content</textarea>
                            <p id="txtContent">
                            </p>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12 mb-5 mb-lg-5" data-aos="fade-up" data-aos-delay="200">
                    <div class="container">
                        <div class="well border-top border-bottom border-primary mb-5 mb-lg-5">
                            <h2 class="mt-3">Tác giả</h2>
                            <div class="row mb-3">
                                <div class="col-3">

                                    <img src="~/client/images/person_1.jpg" class="img-rounded rounded-circle" width="100%" height="auto" />
                                </div>
                                <div class="col-9">
                                    <p class=""><strong>Email:</strong> @Model.News.User.Email</p>
                                    <p class=""><strong>Tên:</strong> @Model.News.User.FullName</p>
                                    <p class=""><strong>Ngày tham gia:</strong>@Model.News.User.DateCreated.ToShortDateString()</p>

                                </div>
                            </div>
                        </div>
                        <div class="well border-top border-bottom border-primary mb-5 mb-lg-5">
                            <h2 class="mt-3">Bài viết mới nhất</h2>
                            <div class="row mb-3">
                                <ul class="list-unstyled ml-5">
                                    @foreach (var item in Model.LastestNews)
                                    {
                                        var url = "/easy2getroom-news-n." + item.Id + ".html";
                                        <li class="justify-content-around" style="font-size:1.3em;"><a href="@url"><i class="fa fa-newspaper-o"></i> &nbsp; @item.Title</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
