﻿<div class="site-section border-top bg-light">
    <div class="container bootstrap snippet mt-10" style="min-height:500px;">
        <header class="masthead d-flex pd-">
            <div class="container text-center my-auto mb-10">
                <h1 class="mb-1" style="margin-top:100px;">Đăng bài thất bại <i class="fa fa-close text-danger"></i></h1>
                <h3 class="mb-5">
                    <em>Có lỗi sảy ra trong quá trình đăng bài. Hãy cho chúng tôi biết về vấn đề bạn gặp phải 
                    <b><a href="/contact.html">tại đây</a></b> để chúng tôi có thể khắc phục sớm nhất có thể !</em>
                </h3>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Trở về trang chủ <i class="fa fa-home"></i></a>
            </div>
            <div class="overlay"></div>
        </header>
    </div>
</div>
