﻿@using Easy2GetRoom.Models.UpPostViewmodels
@model UpPostViewModel


@{
    ViewData["Title"] = "Đăng bài - Easy2GetRoom";
}
@section Styles {
    <link href="~/client/css/jquerysctipttop.css" rel="stylesheet" />
    <link href="~/client/css/custom.css" rel="stylesheet" />
    <link href="~/client/css/jquery.simplewizard.css" rel="stylesheet" />
    <link href="~/client/css/styles.imageuploader.css" rel="stylesheet" />
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/client/js/controllers/uppost/index.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/client/js/jquery.simplewizard.js"></script>
    <script src="~/client/js/jquery.imageuploader.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>

    <script src="~/app/shared/easy2getroomConstant.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/app/shared/easy2getroom.js"></script>
    <script src="~/client/js/shared/commonconstants.js"></script>
    <script>
        var upPostObj = new upPostController();
        upPostObj.initialize();
    </script>
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="container">
                <form id="wizard1" class="wizard">
                    <div class="wizard-header">
                        <ul class="nav nav-tabs">
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step01">Bước 1</a></li>
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step02">Bước 2</a></li>
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step03">Bước 3</a></li>
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step04">Bước 4</a></li>
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step05">Bước 5</a></li>
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step06">Bước 6</a></li>
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step07">Bước 7</a></li>
                            <li role="presentation" class="wizard-step-indicator"><a style="font-size:1.4em;" href="#step08">Bước 8</a></li>
                        </ul>
                    </div>
                    <div class="wizard-content">
                        <div id="step01" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Chọn mục đăng tin</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                <div class="row form-group">
                                    <input type="text" id="txtPropertyCategory" class="form-control input-sm required" placeholder="Chọn mục đăng tin" disabled />
                                    <input type="text" id="txtPropertyCategoryRequired" class="form-control input-sm required" hidden />
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                @foreach (var category in Model.Categories)
                                {
                                    <div class="row form-group">
                                        <div class="col-md-12 mb-3 mb-md-0">
                                            <button type="button" class="btn btn-primary col-lg-12 btn-lg btn-category" data-id="@category.Id" data-name="@category.Name"><b>@category.Name</b></button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button type="button" class="wizard-next btn btn-primary">Tiếp</button>
                        </div>
                        <div id="step02" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Bạn đăng tin với mục đích</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                <div class="row form-group">
                                    <input type="text" id="txtRentalType" class="form-control input-sm required" placeholder="Chọn loại đăng tin" disabled />
                                    <input type="text" id="txtRentalTypeRequired" class="form-control input-sm required" hidden />
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                @foreach (var rentalType in Model.RentalTypes)
                                {
                                    <div class="row form-group">
                                        <div class="col-md-12 mb-3 mb-md-0">
                                            <button type="button" class="btn btn-primary col-lg-12 btn-lg btn-rental-type" data-id="@rentalType.Id" data-name="@rentalType.Name"><b>@rentalType.Name</b></button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <button type="button" class="wizard-prev btn btn-primary">Trước</button>
                            <button type="button" class="wizard-next btn btn-primary">Tiếp</button>
                        </div>
                        <div id="step03" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Thông tin bài đăng</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">

                                <div class="row form-group">
                                    <div class="col-md-12 mb-3 mb-md-0">
                                        <label class="font-weight-bold" for="fullname">Tên dự án</label>
                                        <input type="text" id="txtName" class="form-control required" placeholder="Tên dự án">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="font-weight-bold" for="dllCity">Chọn Thành phố/Tỉnh</label>
                                        <select name="dllCity" id="dllCity" class="form-control">
                                            <option value="0">
                                                Chọn Thành phố/Tỉnh
                                            </option>
                                            @foreach (var city in Model.Cities)
                                            {
                                                <option value="@city.Id">@city.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="font-weight-bold" for="email">Quận/Huyện</label>
                                        <select name="dllDistrict" id="dllDistrict" class="form-control required">
                                            <option value="0">
                                                Quận/Huyện
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="font-weight-bold" for="email">Phường xã/ Thị trấn</label>
                                        <select name="dllWards" id="dllWards" class="form-control required">
                                            <option value="0">
                                                Phường xã/ Thị trấn
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <label class="font-weight-bold" for="email">Số nhà</label>
                                        <input type="text" id="txtApartmentNumber" class="form-control required" placeholder="Số nhà">
                                    </div>
                                    <div class="col-md-8">
                                        <label class="font-weight-bold" for="email">Tên đường</label>
                                        <input type="text" id="txtStreetName" class="form-control required" placeholder="Tên đường">
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="txtLat" hidden>
                            <input type="text" id="txtLng" hidden>
                            <button type="button" class="wizard-prev btn btn-primary">Trước</button>
                            <button type="button" class="wizard-next btn btn-primary">Tiếp</button>
                        </div>
                        <div id="step04" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Đăng tải hình ảnh</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                <div class="uploader__box js-uploader__box l-center-box">
                                    <div class="uploader__contents">
                                        <label class="button button--secondary" for="fileinput">Chọn file</label>
                                        <input id="fileinput" class="uploader__file-input" type="file" multiple value="Chọn file">
                                    </div>
                                    <input class="button button--big-bottom" value="Đăng hình đã chọn">
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12 mb-3 mb-md-0">
                                        <button id="btnUploadImage" type="button" class="btn btn-primary col-lg-12 btn-lg"><b>Đăng hình đã chọn</b></button>
                                    </div>
                                    <div id="pathImages" class="hide">

                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 mb-12">
                                    <p>
                                        <b>Khuyến nghị:</b><br>
                                        - Chụp ảnh khổ ngang, phòng trọ, phòng vệ sinh, không gian sinh hoạt, không gian xung quanh
                                        </b>
                                    </p>
                                    <p>
                                        <b>Tuyệt đối không:</b><br>
                                        - Sử dụng hình ảnh lấy từ internet <br>
                                        - Chèn bất kì nội dung nào vào hình
                                        </b>
                                    </p>
                                </div>
                            </div>
                            <button type="button" class="wizard-prev btn btn-primary">Trước</button>
                            <button type="button" class="wizard-next btn btn-primary">Tiếp</button>
                        </div>
                        <div id="step05" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Nhập thông tin</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                <div class="row form-group div-need">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold" for="email">Nhập giá từ</label>
                                        <input type="text" id="txtPriceFrom" class="form-control" placeholder="1.000.000 VNĐ">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="font-weight-bold" for="email">Nhập giá đến</label>
                                        <input type="text" id="txtPriceTo" class="form-control" placeholder="5.000.000 VNĐ">
                                    </div>
                                </div>
                                <div class="row form-group div-for">
                                    <div class="col-md-12">
                                        <label class="font-weight-bold" for="email">Nhập giá</label>
                                        <input type="number" id="txtPrice" class="form-control" placeholder="1.500.000">
                                    </div>
                                </div>
                                <div class="row form-group div-need">
                                    <div class="col-md-6">
                                        <label class="font-weight-bold" for="email">Nhập diện tích từ</label>
                                        <input type="number" id="txtAcreageFrom" class="form-control acreage-val" placeholder="15">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="font-weight-bold" for="email">Nhập diện tích đến</label>
                                        <input type="number" id="txtAcreageTo" class="form-control acreage-val" placeholder="30">
                                    </div>
                                </div>
                                <div class="row form-group div-for">
                                    <div class="col-md-12">
                                        <label class="font-weight-bold" for="email">Nhập diện tích</label>
                                        <input type="number" id="txtAcreage" class="form-control acreage-val" placeholder="15">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 mb-12">
                                    <p>
                                        <b>Khuyến nghị:</b><br>
                                        - Điền giá thuê bằng VNĐ: Ví dụ: 2500000 thay vì 2.5<br>
                                        - Diện tích mặc định là mét vuông
                                        </b>
                                    </p>
                                </div>
                            </div>
                            <button type="button" class="wizard-prev btn btn-primary">Trước</button>
                            <button type="button" class="wizard-next btn btn-primary">Tiếp</button>
                        </div>
                        <div id="step06" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Tiêu đề</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                <div class="row form-group">
                                    <div class="col-md-12 mb-3 mb-md-0">
                                        <label class="font-weight-bold" for="txtTitle">Tiêu đề</label>
                                        <input type="text" id="txtTitle" class="form-control" placeholder="Tiêu dề">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label class="font-weight-bold" for="email">Tiêu đề gợi ý</label>
                                        <input type="button" id="btnSuggestTitle" class="col-md-12 btn-lg btn-outline-primary text-center border">
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="wizard-prev btn btn-primary">Trước</button>
                            <button type="button" class="wizard-next btn btn-primary">Tiếp</button>
                        </div>
                        <div id="step07" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Mô tả chi tiết</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                <div class="row form-group">
                                    <div class="col-md-12 mb-3 mb-md-0">
                                        <label class="font-weight-bold" for="fullname">Mô tả</label>
                                        <div class="form-group">
                                            <label for="comment">Mô tả chi tiết về tài sản cho thuê:</label>
                                            <textarea id="txtDescription" class="form-control" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="wizard-prev btn btn-primary">Trước</button>
                            <button type="button" class="wizard-next btn btn-primary">Tiếp</button>
                        </div>
                        <div id="step08" class="wizard-step">
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h1 class="mb-2 text-center">Hoàn tất đăng bài</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 mb-12">
                                <h5>
                                    <b>Bài đăng của bạn sẽ phải chở phê duyệt trước khi được hiển thị</b><br>
                                    - Những bài đăng không đúng với quy chuẩn sẽ không được phê duyệt.
                                    </br>
                                    - Những bài đăng được đăng bởi tài khoản giả mạo sẽ không được phê duyệt
                                </h5>
                            </div>
                            <button type="button" class="wizard-prev btn btn-primary">Trước</button>
                            <button type="button" class="wizard-goto btn btn-primary" value="0">Quay trở lại trang đầu</button>
                            <button id="btnUpostConfirm" type="button" class="wizard-finish btn btn-danger">Đăng bài</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_NotifyModal.cshtml")