﻿<div class="site-section border-top bg-light">
    <div class="container bootstrap snippet mt-10" style="min-height:500px;">
        <header class="masthead d-flex">
            <div class="container text-center my-auto mb-10">
                <h1 class="mb-1" style="margin-top:100px;">Đăng bài thành công <i class="fa fa-check-circle text-primary"></i></h1>
                <h3 class="mb-5">
                    <em>Bài đăng của bạn sẽ trong trạng thái <b>"Chờ phê duyệt"</b> trước khi được hiển thị !</em>
                </h3>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Trở về trang chủ <i class="fa fa-home"></i></a>
            </div>
            <div class="overlay"></div>
        </header>
    </div>
</div>
