﻿@charset "UTF-8";

img {
    border-style: none;
}


/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}



/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

.uploader__file-label, .uploader__submit-button {
    background-color: white;
    background-color: white;
    border: 2px solid #0d9191;
    border-radius: 5px;
    color: #0d9191;
    display: block;
    font-size: 0.8em;
    padding: 1em 2em;
    max-width: 15em;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

    .button:hover, .uploader__file-label:hover, .uploader__submit-button:hover,
    .button:active,
    .uploader__file-label:active,
    .uploader__submit-button:active,
    .button:focus,
    .uploader__file-label:focus,
    .uploader__file-input:focus + .uploader__file-label,
    .uploader__submit-button:focus {
        background-color: #0d9191;
        color: white;
    }

.button--secondary {
    color: #0d9191;
    border-color: #0d9191;
    padding: 0.5em 1em;
    max-width: 15em;
}

    .button--secondary:hover,
    .button--secondary:active,
    .button--secondary:focus,
    .uploader__file-input:focus + .uploader__file-label {
        background-color: #0d9191;
        color: white;
    }

.button--inline {
    display: inline-block;
}

.button--big-bottom, .uploader__submit-button {
    max-width: none;
    width: 100%;
    text-align: center;
    border-radius: 0;
    background-color: #0d9191;
    color: white;
}

    .button--big-bottom:hover, .uploader__submit-button:hover,
    .button--big-bottom:active,
    .uploader__submit-button:active,
    .button--big-bottom:focus,
    .uploader__submit-button:focus {
        background-color: #2d8659;
    }

.icon-button, .uploader__icon-button {
    background: transparent;
    border: 0;
    height: 10px;
    color: darkred;
}

    .icon-button:hover, .uploader__icon-button:hover {
        color: #424242;
    }


.uploader__file-input {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

.hide, .uploader__hide {
    display: none;
}

.show {
    display: block;
}

.error, .uploader__error {
    color: #0d9191;
}

.file-list, .uploader__file-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.file-list__item, .uploader__file-list__item {
    display: table;
    padding: 0.5em;
    width: 100%;
}

    .file-list__item:nth-child(2n), .uploader__file-list__item:nth-child(2n) {
        background-color: #fff5f7;
    }

.file-list__thumbnail, .uploader__file-list__thumbnail,
.file-list__text,
.uploader__file-list__text,
.file-list__size,
.uploader__file-list__size,
.file-list__button,
.uploader__file-list__button {
    display: table-cell;
    vertical-align: middle;
}

.file-list__thumbnail, .uploader__file-list__thumbnail {
    width: 10%;
}

.file-list__text, .uploader__file-list__text {
    width: 60%;
    word-break: break-word;
}

.file-list__size, .uploader__file-list__size {
    width: 25%;
}

.file-list__button, .uploader__file-list__button {
    width: 5%;
}

.icon, .uploader__icon {
    font-size: 2em;
    margin: 10px;
    text-decoration: none;
}

.icon--close {
    color: #d2d2d2;
}

.icon--spinner, .uploader__icon--spinner {
    margin: 1em;
}

.thumbnail {
    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
    padding: 0.2em;
}

.l-main {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
}

    .l-main:after {
        content: " ";
        display: block;
        clear: both;
    }

.l-site-title {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-left: 8.47458%;
}

.l-center-box {
    width: 100%;
    float: right;
}

.site-header {
    margin-bottom: 3em;
}

.site-title {
    color: #0d9191;
    font-size: 0.8em;
    padding: 1.5em 0;
    text-transform: uppercase;
}

.uploader__box {
    animation: appear 1s;
    background-color: white;
    box-shadow: -2px 2px 20px #d2d2d2;
    text-align: center;
    transition: all 0.5s;
    margin-bottom: 1em;
}

@keyframes appear {
    from {
        margin-top: 3em;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

.uploader__contents {
    padding: 3em;
    margin-top: 0;
    opacity: 1;
    transition: all 0.4s;
}

.uploader__file-label,
.uploader__box .button--secondary {
    margin: 2em auto;
}

.uploader__file-label--secondary {
    display: inline-block;
    margin: 0 0.5em;
}

.uploader__further-instructions {
    margin-left: 16.94915%;
    clear: both;
    color: #969696;
    font-size: 0.9em;
    padding: 0.5em;
}
