﻿@using Easy2GetRoom.Models
@model ManagePostViewModel
@section Styles {

}

@section Scripts {
    <script src="~/lib/mustache.js/mustache.js"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script src="~/lib/bootbox/bootbox.js"></script>
    <script src="~/app/shared/easy2getroom.js"></script>
    <script src="~/client/js/controllers/managepost/index.js"></script>
    <script>
        var managePost = new managePostController();
        managePost.initialize();
    </script>
}
<div class="site-section border-top bg-light">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h2>@User.GetSpecificClaim("FullName")</h2></div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->


                <div class="text-center">
                    @if (string.IsNullOrEmpty(User.GetSpecificClaim("Avatar")))
                    {
                        <img id="imgAvatar" src="~/uploaded/avatar/default.png" class="avatar img-circle img-thumbnail" alt="avatar" style="height:190px; width:190px">
                    }
                    else
                    {
                        <img id="imgAvatar" src="@User.GetSpecificClaim("Avatar")" class="avatar img-circle img-thumbnail" alt="avatar" style="height:190px; width:190px">
                    }
                </div><br>

            </div><!--/col-3-->
            <div class="col-sm-9">
                <section id="tabs" class="project-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-active-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Đang đăng</a>
                                        <a class="nav-item nav-link" id="nav-inactive-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Tạm ẩn</a>
                                        <a class="nav-item nav-link" id="nav-awaitingapproval-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Chờ phê duyệt</a>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent" style="min-height:500px">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <table class="table table-striped" cellspacing="0">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Tiêu đề</th>
                                                    <th width="5%"></th>
                                                    <th width="15%"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblActive">
                                                @foreach (var item in Model.ActivePost)
                                                {
                                                    var url = "/easy2getroom-property-p." + item.Id + ".html";
                                                    <tr>
                                                        <td><a href="@url">@item.Title</a></td>
                                                        <td>
                                                            <button class="btn btn-sm btn-info btn-detail" title="Xem chi tiết"><i class="fa fa-info-circle"></i></button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-warning btn-hide" data-id="@item.Id" title="Ẩn"><i class="fa fa-eye-slash"></i></button>
                                                            <button class="btn btn-sm btn-danger btn-delete" data-id="@item.Id" data-tab="1" title="Xóa"><i class="fa fa-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <table class="table table-striped" cellspacing="0">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Tiêu đề</th>
                                                    <th width="5%"></th>
                                                    <th width="15%"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblInActive">
                                                @foreach (var item in Model.InActivePost)
                                                {
                                                    <tr>
                                                        <td>@item.Title</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-info btn-detail" title="Xem chi tiết"><i class="fa fa-info-circle"></i></button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-warning btn-show" data-id="@item.Id" title="Bỏ ẩn"><i class="fa fa-eye"></i></button>
                                                            <button class="btn btn-sm btn-danger btn-delete" data-id="@item.Id" data-tab="2" title="Xóa"><i class="fa fa-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <table class="table table-striped" cellspacing="0">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Tiêu đề</th>
                                                    <th width="5%"></th>
                                                    <th width="5%"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblAwaitingApproval">
                                                @foreach (var item in Model.AwaitingApprovalPost)
                                                {

                                                    <tr>
                                                        <td>@item.Title</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-info btn-detail" data-id="@item.Id" title="Xem chi tiết"><i class="fa fa-info-circle"></i></button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-danger btn-delete" data-id="@item.Id" data-tab="3" title="Xóa"><i class="fa fa-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>

<script id="table-actice-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Title}}</td>
        <td>
            <button class="btn btn-sm btn-info btn-detail" data-id="{{Id}}" title="Xem chi tiết"><i class="fa fa-info-circle"></i></button>
        </td>
        <td>
            <button class="btn btn-sm btn-warning btn-hide" data-id="{{Id}}" title="Ẩn"><i class="fa fa-eye-slash"></i></button>
            <button class="btn btn-sm btn-danger btn-delete" data-id="{{Id}}"  data-tab="1" title="Xóa"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</script>

<script id="table-inactice-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Title}}</td>
        <td>
            <button class="btn btn-sm btn-info btn-detail" data-id="{{Id}}" title="Xem chi tiết"><i class="fa fa-info-circle"></i></button>
        </td>
        <td>
            <button class="btn btn-sm btn-warning btn-show" data-id="{{Id}}" title="Bỏ ẩn"><i class="fa fa-eye"></i></button>
            <button class="btn btn-sm btn-danger btn-delete" data-id="{{Id}}"  data-tab="2" title="Xóa"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</script>

<script id="table-awaitingapproval-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Title}}</td>
        <td>
            <button class="btn btn-sm btn-info btn-detail" data-id="{{Id}}" title="Xem chi tiết"><i class="fa fa-info-circle"></i></button>
        </td>
        <td>
            <button class="btn btn-sm btn-danger btn-delete" data-id="{{Id}}" data-tab="3" title="Xóa"><i class="fa fa-trash"></i></button>
        </td>
    </tr>
</script>